In [1]:
print("HELLO WORLD")

HELLO WORLD

In [2]:
print("HELLO I AM LEARNING PYTHON!")

HELLO I AM LEARNING PYTHON!

In [ ]:
variables: data -->variable in a server

In [ ]:
NOTE: press shift+enter for execution

In [3]:
name = "Tejasri"

In [4]:
print(name)

Tejasri

In [5]:
names = 'deepak'

In [7]:
print(names)

deepak

In [8]:
FULLNAME = "Naga Raj"

In [9]:
print(FULLNAME)

Naga Raj

In [10]:
FULL NAME = "Naga Raj"

SyntaxError: invalid syntax (<ipython-input-10-9aeec0cba5dd>, line 1)

In [ ]:
1. no spaces in the variable
2. no number at the beginning of the variable
3. no special characters in the variable

In [ ]:
1. no spaces--->_-->underscore

In [11]:
FULL_NAME = "Naga Raj"

In [12]:
print(FULL_NAME)

Naga Raj

In [ ]:
2. no numbers at the beginning of the variable

In [14]:
1First_Name = "Bellary"

SyntaxError: invalid syntax (<ipython-input-14-c6da0a394499>, line 1)

In [15]:
First_name1 = "Bellary"

In [16]:
print(First_name1)

Bellary

In [17]:
F123456 = "Bellary"

In [18]:
print(F123456)

Bellary

In [ ]:
3.@,#,$,%,&.......

In [19]:
Name@me = "FAizan"

SyntaxError: can't assign to operator (<ipython-input-19-62a852e7d551>, line 1)

In [ ]:
1.string
2.integer
3.list
4.tuple
5.dictionary+